# Common flags
build --jobs=auto
build --color=yes
build --compilation_mode=fastbuild

# OCI configuration.
common --repo_env=OCI_GET_TOKEN_ALLOW_FAIL=1

# CI-specific configuration.
build --disk_cache=~/.cache/bazel-disk
build --repository_cache=~/.cache/bazel-repo
build:ci --verbose_failures
build:ci --announce_rc
build:ci --@rules_rust//rust/settings:extra_rustc_flag=-Clink-arg=-fuse-ld=lld

test:ci --test_output=errors
test:ci --test_summary=detailed
test:ci --flaky_test_attempts=2
test:ci --local_test_jobs=HOST_CPUS*0.75

# Release.
build:release --compilation_mode=opt
build:release --strip=always
build:release --@rules_rust//rust/settings:lto=thin
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Copt-level=3
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Ccodegen-units=1
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Cdebug-assertions=off
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Coverflow-checks=off
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Cdebuginfo=0
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Cstrip=debuginfo
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Cforce-frame-pointers=no
build:release --@rules_rust//rust/settings:extra_rustc_flag=-Clink-arg=-fuse-ld=lld
